// color
$white: #FFFFFF;
$aquamarine: #88F9E5;
$pale-turquoise: #9AFCEB;
$aquamarine: #6BEFD7;
$amaranth: #EE2754;
$riptide: #8CDFD0;
$green: #0BA360;
$online: #77E004;
$offline: #E81123;
$active: #219269;
$leave: #F98900;
$c333: #333;
$c666: #666;
$cddd: #ddd;
$cccc: #ccc;
$cbd: #bdbdbd;
$link: #409eff;
